@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


 .browserContainer {
background-color: var(--url-and-searchbar-background-color,  hsla(0,0%,100%,.8)) !important;
}

/*
 * One Liners
 */
.tab-line { background-color: #323234 !important; /*changes the color of the top bar on tabs*/ }
#identity-box.verifiedIdentity #identity-icon-labels {display: none !important;} /* Remove owner name for SSL certs */
#pageActionButton {display: none !important;} /* Remove page action bar (3 dots) */
#home-button { display: none !important; } /* Remove the home button noone ever uses */
#reload-button { display: none !important; } /* Remove the reload button */
#stop-button { display: none !important; } /* Remove the stop reload button */
.titlebar-placeholder[type="pre-tabs"] {display: none !important;} /* Remove whitespace before */
.titlebar-placeholder[type="post-tabs"] {display: none !important;} /* Remove whitespace after */
.titlebar-placeholder[type="pre-tabs"] {border-inline-end: 1px solid black !important;width: 1px !important;} /* Fix one-pixel line from whitespace */


/* 
 * ---------------------------------------------------------------------
 * Adress
 * Bar
 * Trash
 * ---------------------------------------------------------------------
*/

/*
 * COLORED CERT BAR
 */

#urlbar {
  position: relative;
  z-index: 1;
}

#identity-box:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  background: var(--toolbar-bgcolor);
  opacity: 0.2;
}


/* There is also grantedPermissions, but irrelevant. */

/* about:about */
#urlbar[pageproxystate='valid'] #identity-box.unknownIdentity:after {
  background: #ff0039; /* Firefox Red 50 */
}

/* about:config */
#urlbar[pageproxystate='valid'] #identity-box.chromeUI:after {
  background: #0a84ff; /* Firefox Blue 50 */
}

/* uBlock Origin Dashboard */
#urlbar[pageproxystate='valid'] #identity-box.extensionPage:after {
  background: #45a1ff; /* Firefox Blue 40 */
}

/* https://www.github.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedIdentity:after{
  background: #058b00; /* Firefox Green 70 */
}

/* https://www.google.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedDomain:after{
  background: #12bc00; /* Firefox Green 60 */
}

/* https://mixed-script.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveBlocked:after {
  background: #30e60b; /* Firefox Green 50 */
}

/* https://mixed.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContent:after {
  background: #d7b600; /* Firefox Yellow 60 */
}

/* https://very.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContentLoadedActiveBlocked:after {
  background: #d7b600; /* Firefox Yellow 60 */
}

/* https://self-signed.badssl.com/ but add certificate exception */
#urlbar[pageproxystate='valid'] #identity-box.certUserOverridden:after {
  background: #ffe900; /* Firefox Yellow 50 */
}

/* Don't know an example for this */
#urlbar[pageproxystate='valid'] #identity-box.weakCipher:after {
  background: #a47f00; /* Firefox Yellow 70 */
}

/* https://mixed-script.badssl.com/ but disable protection */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveContent:after {
  background: #d70022;  /* Firefox Red 60 */
}

/* http://http-login.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.insecureLoginForms:after {
  background: #a4000f;  /* Firefox Red 70 */
}
/*
 * Rounded address bar
 */
#urlbar, .searchbar-textbox{
    border-radius: 2em !important;
    height: 30px !important;
    min-height: 30px !important;
}

/* Dark Themed Drop-down */
#PopupAutoCompleteRichResult .autocomplete-richlistbox {
background-color: #111 !important;
}
#PopupAutoCompleteRichResult .autocomplete-richlistitem {
border-bottom-color: #333 !important;
}
.autocomplete-richlistitem .ac-title,
.autocomplete-richlistitem .ac-action,
.autocomplete-richlistitem .ac-separator {
color: #777 !important;
}
.autocomplete-richlistitem[selected=true] {
background-color: #666 !important;
}
.autocomplete-richlistitem[selected=true] .ac-title,
.ac-title[selected],
.autocomplete-richlistitem[selected=true] .ac-action,
.ac-action[selected],
.autocomplete-richlistitem[selected=true] .ac-separator,
.ac-separator[selected] {
color: #eee !important;
}
.autocomplete-richlistitem[selected=true] .ac-url,
.ac-url[selected] {
color: #69f !important;
}

/*
 * ---------------------------------------------------------------------
 * Tab
 * Bar
 * Trash
 * ---------------------------------------------------------------------
 */


/*
 * show new tab button on hover
 */

/* hide new tab button so tab-bar can collapse */
.tabs-newtab-button { 
    display: none; 
}

/* ...but show it on tab-bar hover */
#tabbrowser-tabs:hover .tabs-newtab-button { 
    display: block; 
}
/*
 * Show close tab button only on hover
 */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
  visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
  transform: rotate(1440deg) !important;
  transition: transform ease-in-out 2s !important;
}
/*
 * Small tabs
 */
.tabbrowser-tab {
  --tab-min-width: 120px !important;
  -moz-box-flex: 0 !important;
  transition: all 0.2s;
  width: -10px !important;
}

.tabbrowser-tab[visuallyselected="true"] {
  -moz-box-flex: 1 !important;
}

.tabbrowser-tabs > arrowscrollbox {
  height: 45px !important;
}

/*  
 * ---------------------------------------------------------------------
 * Mac
 * Close/minimize/maximize
 * buttons
 * ---------------------------------------------------------------------
 */


.tabs-newtab-button {
    opacity: 0.3 !important;
}
.tabs-newtab-button:hover {
    opacity: 1 !important;
}

/*
.tabbrowser-tab .tab-line:not([selected="false"]){
	height: 1px !important;
	background: linear-gradient(90deg, rgba(0,238,224,1) 0%, rgba(179,29,253,1) 50%, rgba(252,185,69,1) 100%) !important;

}
*/


.titlebar-placeholder[type="pre-tabs"] {
  display:none !important;
    }   


#PanelUI-menu-button{
background-color: transparent !important;
	
	list-style-image:  url('nightly2.png') !important;
}

#PanelUI-menu-button:active{
background-color: transparent !important;
	
}


/* Remove separator between menu and overflow */
#PanelUI-button {
    border-inline-start: 0px solid !important;

}

/*
#titlebar-buttonbox{display: none;}
#navigator-toolbox{padding-top:3px !important}
#main-window[sizemode="maximized"] #navigator-toolbox{padding-top:10px !important;} */


#titlebar-min {
	margin-left: 8px !important;
	margin-right: 5px !important;
	border-radius:3px !important;
	padding: 0px  !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-top: 3px  !important;
	margin-bottom: 4px  !important;
	background-color: #0C0C0D !important;
	 list-style-image: url("yellow.svg") !important;
}
#titlebar-max {
	margin-left: 5px !important;
	margin-right: 5px !important;
	border-radius:3px !important;
	padding: 0px  !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-top: 3px  !important;
	margin-bottom: 4px  !important;
	background-color: #0C0C0D !important;
    list-style-image: url("green.svg") !important;
}

#titlebar-close {
	margin-left: 5px !important;
	margin-right: 8px !important;
	border-radius:3px !important;
	padding: 0px  !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-top: 3px  !important;
	margin-bottom: 4px  !important;
	background-color: #0C0C0D !important;
	list-style-image: url("red.svg") !important;
	/* background-image: url("red.svg") !important;
	 background-size: 16px 16px !important;
	 background-repeat: no-repeat;*/
}


:root[sizemode="maximized"] #titlebar-max:hover {
	/* background-color: transparent !important; To remove hover effect*/
	background-color: rgba(0, 0, 0, 0.1) !important;
     list-style-image: url("minz.svg") !important;
}
#titlebar-max:hover {
	background-color: rgba(0, 0, 0, 0.1) !important;
	list-style-image: url("max.svg") !important;
}

#titlebar-close:hover {
	
background-color: rgba(0, 0, 0, 0.1) !important;
	list-style-image: url("closx.svg") !important;
}

#titlebar-min:hover {
	
	background-color: rgba(0, 0, 0, 0.1) !important;
	list-style-image: url("min.svg") !important;
}

.titlebar-button > .toolbarbutton-icon {
	height: 16px !important;
	min-height: 16px !important;
	width: 16px !important;
	min-width: 16px !important;
	
}