 .browserContainer {
background-color: var(--url-and-searchbar-background-color,  hsla(0,0%,100%,.8)) !important;
}

/*
* One Liners
*/
.tab-line { background-color: #323234 !important; /*changes the color of the top bar on tabs*/ }
#identity-box.verifiedIdentity #identity-icon-labels {display: none !important;} /* Remove owner name for SSL certs */
#pageActionButton {display: none !important;} /* Remove page action bar (3 dots) */
#home-button { display: none !important; } /* Remove the home button noone ever uses */
#reload-button { display: none !important; } /* Remove the reload button */
#stop-button { display: none !important; } /* Remove the stop reload button */
.titlebar-placeholder[type="pre-tabs"] {display: none !important;} /* Remove whitespace before */
.titlebar-placeholder[type="post-tabs"] {display: none !important;} /* Remove whitespace after */
.titlebar-placeholder[type="pre-tabs"] {border-inline-end: 1px solid black !important;width: 1px !important;} /* Fix one-pixel line from whitespace */

/*
 * Minimal Responsive Theme
*/
:root:not([customizing]) #nav-bar toolbarbutton
 {
    margin-left: -28px !important;
    opacity: 0 !important;
    transform: scale(.85, .85) !important;
    pointer-events: none !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
    transform: scale(1, 1) !important;
opacity:1 !important;
margin-left:0 !important;
pointer-events: auto !important;
}

/*
 * COLORED CERT BAR
 */

#urlbar {
  position: relative;
  z-index: 1;
}

#identity-box:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  background: var(--toolbar-bgcolor);
  opacity: 0.2;
}


/* There is also grantedPermissions, but irrelevant. */

/* about:about */
#urlbar[pageproxystate='valid'] #identity-box.unknownIdentity:after {
  background: #ff0039; /* Firefox Red 50 */
}

/* about:config */
#urlbar[pageproxystate='valid'] #identity-box.chromeUI:after {
  background: #0a84ff; /* Firefox Blue 50 */
}

/* uBlock Origin Dashboard */
#urlbar[pageproxystate='valid'] #identity-box.extensionPage:after {
  background: #45a1ff; /* Firefox Blue 40 */
}

/* https://www.github.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedIdentity:after{
  background: #058b00; /* Firefox Green 70 */
}

/* https://www.google.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedDomain:after{
  background: #12bc00; /* Firefox Green 60 */
}

/* https://mixed-script.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveBlocked:after {
  background: #30e60b; /* Firefox Green 50 */
}

/* https://mixed.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContent:after {
  background: #d7b600; /* Firefox Yellow 60 */
}

/* https://very.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContentLoadedActiveBlocked:after {
  background: #d7b600; /* Firefox Yellow 60 */
}

/* https://self-signed.badssl.com/ but add certificate exception */
#urlbar[pageproxystate='valid'] #identity-box.certUserOverridden:after {
  background: #ffe900; /* Firefox Yellow 50 */
}

/* Don't know an example for this */
#urlbar[pageproxystate='valid'] #identity-box.weakCipher:after {
  background: #a47f00; /* Firefox Yellow 70 */
}

/* https://mixed-script.badssl.com/ but disable protection */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveContent:after {
  background: #d70022;  /* Firefox Red 60 */
}

/* http://http-login.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.insecureLoginForms:after {
  background: #a4000f;  /* Firefox Red 70 */
}
/*
* Small tabs
 */
.tabbrowser-tab {
  --tab-min-width: 120px !important;
  -moz-box-flex: 0 !important;
  transition: all 0.2s;
  width: -10px !important;
}

.tabbrowser-tab[visuallyselected="true"] {
  -moz-box-flex: 1 !important;
}

.tabbrowser-tabs > arrowscrollbox {
  height: 45px !important;
}

/*
* Rounded address bar
*/
#urlbar, .searchbar-textbox{
    border-radius: 2em !important;
    height: 30px !important;
    min-height: 30px !important;
}

/* Dark Themed Drop-down */
/* Dark Theme - Firefox 48+ */
#PopupAutoCompleteRichResult .autocomplete-richlistbox {
background-color: #111 !important;
}
#PopupAutoCompleteRichResult .autocomplete-richlistitem {
border-bottom-color: #333 !important;
}
.autocomplete-richlistitem .ac-title,
.autocomplete-richlistitem .ac-action,
.autocomplete-richlistitem .ac-separator {
color: #777 !important;
}
.autocomplete-richlistitem[selected=true] {
background-color: #666 !important;
}
.autocomplete-richlistitem[selected=true] .ac-title,
.ac-title[selected],
.autocomplete-richlistitem[selected=true] .ac-action,
.ac-action[selected],
.autocomplete-richlistitem[selected=true] .ac-separator,
.ac-separator[selected] {
color: #eee !important;
}
.autocomplete-richlistitem[selected=true] .ac-url,
.ac-url[selected] {
color: #69f !important;
}

/*
* show new tab button on hover
 */

/* hide new tab button so tab-bar can collapse */
.tabs-newtab-button {
    display: none;
}

/* ...but show it on tab-bar hover */
#tabbrowser-tabs:hover .tabs-newtab-button {
    display: block;
}
/*
* Show close tab button only on hover
 */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
  visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
  transform: rotate(1440deg) !important;
  transition: transform ease-in-out 2s !important;
}
