@import url("userChrome.css");

/* Removes white loading page */
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
      background: var(--mff-bg) !important;
    }
  }


  /* Hide scrollbar */

/*  :root{
    scrollbar-width: none !important;
  }


  @-moz-document url(about:privatebrowsing) {

  :root{
    scrollbar-width: none !important;
  }
  }*/
/* in userContent for all the about:pages of firefox */

@-moz-document url-prefix("about:"),
@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html") {
    window,
    page,
    html,
    .main-content,
    scrollbar {
        scrollbar-color: #4a5561 #292f36 !important;
        scrollbar-width: thin !important;
    }
}
/* for anywhere internal pages FF */
* {
    scrollbar-color: #4a5561 #292f36 !important;
    scrollbar-width: thin !important;
}
